<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adresse</title>
    <meta content="text/html ; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<nav th:insert="~{fragments/navbar :: navbar}"></nav>
<form action="/meteo" method="post">
    <div>
        <label for="address">Please input your address :</label>
        <input id="address" name="address">
    </div>
    <div>
        <button>Get the weather at the given address !</button>
    </div>
</form>

</body>
</html>